---
import About from "./proyecto2/Cuerpo.astro";
import Skills from "../main/skills/Skills.astro";
---

<main>
  <div class="container_p">
    <About />
    <Skills />
  </div>
</main>

<style>
  .container_p {
    width: 100%;
  }
</style>
