---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/projects/proyecto2.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="I specialize in transforming raw data into clear, 
                actionable insights that help businesses improve performance, 
                optimize operations, and make data-driven decisions."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://francochacon.github.io/" />
    <meta property="og:site_name" content="Franco Chacón" />
    <meta property="og:title" content="Franco Chacón Portfolio" />
    <meta
      property="og:image"
      content="https://francochacon.github.io/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Franco Chacón</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
